<footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h4 class="white-text">Design For America</h4>
          <h5 class="white-text">Rice Studio</h5>
          <p class="grey-text text-lighten-4">
              The Rice University Studio focuses on making an impact in the local Houston community through the human-centred design process. By working in interdisciplinary teams and focusing on the user, the studio creates thoughtful, practical, and helpful solutions.
          </p>


        </div>

        <div class="col l3 s12 offset-l2">
          <h4 class="white-text">More Info</h4>
          <ul>
              <li><a class="white-text" href="http://dfarice.com">DFA Rice Home</a></li>
              <li><a class="white-text" href="http://designforamerica.com">DFA National</a></li>
              <li><a class="white-text" href="http://dfarice.com/contact/">Contact Us</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">

          <div class="col l3 s6">
            Website by <a class="white-text" href="http://maclockard.com">Mac Lockard</a>
          </div>
          <div class="col l3 s6">
            Photos by <a class="white-text" href="#">Josh Lipshultz</a>
          </div>

        </div>
      </div>
    </div>
  </footer>
